<h4 (click)="onFormFocus()">Form</h4>

<div class="card" style="min-height: 500px;">
    <div class="card-body"
        dndDropzone
        (dndDrop)="onDrop($event)">
        dropzone 
        <div style="border: 1px gray dashed; padding: 15px; background-color: lightgray;"
            dndPlaceholderRef>
        </div>

        <ng-container *ngFor="let formField of parentFormFields">
            <ng-container [ngSwitch]="formField.fieldType.fieldTypeID" >
                <!-- zone -->
                <app-zone *ngSwitchCase="4"
                    [formField]=formField
                    class="card mb-2" 
                    [ngClass]="{ 
                        'selected-form-field': selectedFormField?.formFieldID == formField.formFieldID,
                        'searched-form-field': searchStr && formField.fieldCode.toLowerCase().includes(searchStr?.toLowerCase())
                    }"
                    (click)="onFormFieldFocus(formField.formFieldID)"
                    [dndDraggable]="formField.formFieldID"
                    [dndEffectAllowed]="'move'"
                    
                    >
                </app-zone>

                <!-- default -->
                <div *ngSwitchDefault
                    class="card mb-2" 
                    [ngClass]="{ 
                        'selected-form-field': selectedFormField?.formFieldID == formField.formFieldID,
                        'searched-form-field': searchStr && formField.fieldCode.toLowerCase().includes(searchStr?.toLowerCase())
                    }"
                    (click)="onFormFieldFocus(formField.formFieldID)"
                    [dndDraggable]="formField.formFieldID"
                    [dndEffectAllowed]="'move'"
                    >

                    <div class="card-body">
                        {{ formField.fieldType.label }}
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>