<div class="card mb-2" *ngFor="let fieldType of fieldTypes"
    [dndDraggable]="fieldType.fieldTypeID"
    [dndEffectAllowed]="draggable.effectAllowed"
    [dndDisableIf]="draggable.disable"
    (dndStart)="onDragStart($event)"
    (dndCopied)="onDraggableCopied($event, fieldType.fieldTypeID)"
    (dndLinked)="onDraggableLinked($event)"
    (dndMoved)="onDraggableMoved($event)"
    (dndCanceled)="onDragCanceled($event)"
    (dndEnd)="onDragEnd($event)">

    <div class="card-body">
        {{ fieldType.label }}
    </div>
</div>

<!-- <div id="field-types-panel" dragula="FORMDESIGNER" [(dragulaModel)]="field-types-panel" style="min-height: 100px; padding: 2px; border: solid 1px black;">
    <div class="card" *ngFor="let fieldType of fieldTypes">
        <div class="card-body" >
            {{ fieldType.label }}
        </div>
    </div>
</div> -->