<div class="card-body" style="min-height: 200px; background-color: inherit;">
    {{ formDesignDetail.fieldType.label }}
    <div class="row">
        <ng-container *ngFor="let subDesignDetails of formDesignDetail.subDesignDetails; let i = index;">
            <div class="card col-md-{{ 12 / formDesignDetail.subDesignDetails.length }}" style="min-height: 200px;">
                <div class="card-body"
                    dndDropzone
                    (dndDrop)="onDrop($event, i)">
                    <div style="border: 1px gray dashed; padding: 15px; background-color: lightgray;"
                        dndPlaceholderRef>
                    </div>
                    <ng-container *ngFor="let subDesignDetail of subDesignDetails">
                        <ng-container [ngSwitch]="subDesignDetail.fieldType.fieldTypeID" >
                            <div 
                                class="card mb-2" 
                                [ngClass]="{ 
                                    'selected-form-field': selectedFormDesignDetail?.fieldCode === subDesignDetail.fieldCode,
                                    'searched-form-field': searchStr && subDesignDetail.fieldCode.toLowerCase().includes(searchStr?.toLowerCase())
                                }"
                                (click)="onFormDesignDetailFocus(subDesignDetail, $event)"
                                [dndDraggable]="subDesignDetail"
                                [dndEffectAllowed]="'move'"
                                [dndDraggingSourceClass]="'onDragged'">
            
                                <div *ngSwitchDefault class="card-body">
                                    {{ subDesignDetail.fieldType.label }}
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </ng-container>
    </div>
</div>